{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>login</title>
</head>
<body>
    <div class="formView">
        <div class="form-container__form">
            <div class="form-container__form-header">
                <span class="form-container__form-header__title">Login</span>
            </div>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form__group">
                    <label for='email' class="form__label">Email</label>
                    <input type="email" name="email" class="form__input" placeholder='Email' id="id_email">
                </div>
                <div class="form__group">
                    <label for='id_pass' class="form__label">Password</label>
                    <input type="password" name="password" class="form__input" placeholder='Password' id='id_pass'>
                </div>
                <button type="submit" class="form__btn">Login</button>
            </form>
            {% for message in messages %}
					<p id="messages">{{message}}</p>
			{% endfor %}
        </div>
    </div>
    
    
</body>
</html>