{% extends 'base.html' %}
{% load static %}

{% block title %}Staff{% endblock title %}

{% block content-header %}Staff{% endblock content-header %}


{% block content %}
      <div class="resident-container">
        {% for people in people %}
        <div class="people-card">
            <div class="people-card__pic">
              <div class="people-card__pic-1">
                <img src="{{ people.image.url }}" class="img1" alt="ProfilePic">
              </div>
            </div>
            <div class="people-card__info">
              <div class="people-card__info-cont">
                <span class="people-card__info-cont-name">
                  {{people.name}}
                </span>
                <span class="people-card__info-cont-contact">
                  Contact-{{people.contact}}
                </span>
              </div>
              <span class="people-card__info-address">
                Address-{{people.address}}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}