{% extends 'base.html'  %}
{% load static %}

{% block title %}Visitors{% endblock title %}
{% block content-header %}Visitors{% endblock content-header %}

{% block content %}
    <span class="visitor-search">
        <form method="GET" action="">
            <input type="text" placeholder="Search" name="search" class="form__input" autocomplete="off">
        </form>
    </span>
    <span class="visitor-search">
        <form method="GET" action="">
            <input type="text" placeholder="YYYY-MM-DD" name="date" class="form__input" autocomplete="off">
        </form>
    </span>
    <div class="visitor-list">
        {% for visitor in visitors %}
            <div class="visitor-card">
                <div class="visitor-card__name-time" >
                    <span class="visitor-card__name-time__name">{{visitor.name}}</span>
                    <span class="visitor-card__name-time__date">{{visitor.date_time}}</span>
                </div>
                <div class="visitor-card__temp-display">
                    <img src="{% static 'img/temp.png' %}" alt="" class="visitor-card__temp-display__logo">
                    <span class="visitor-card__temp-display__temp">{{visitor.temp}}&#8451;</span> 
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}